@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  }

  a{
    text-decoration: none;
  }

  body {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: fit-content;
    width: 100vw;
    overflow-x: hidden;
    margin: 0;
  }

  section {
    width: 100vw;
    padding: 1rem 5vw;
    display: flex;
    gap: 1rem;
    align-items: flex-end;
  }

  .static {

    width: 100vw;
    display: flex;
    justify-content: space-between;
    padding: 0.5rem 2vw;
  }
 

  .mainheader {
        display: flex;
        width: 100vw;
        justify-content: space-between;
        padding: 0.7rem 3.5vw;
        align-items: center;
        background: #e35401;
        box-shadow: 0 3px 0px 0px rgba(193, 191, 191, 0.371);

    & > nav.navigation {
        display: flex;
        align-items: flex-start;
        gap: 1rem;

        & > a.navigation-content{
          font-weight: 600;
          font-size: 1.1rem;
          color: rgb(255, 255, 255);
          font-family: "Poppins", sans-serif;
        }
        & > a.navigation-content:hover{
          color: black;
        }
      }
    }

    .design-one{
      width: 100%;
    }
    .design-one header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 10px 20px;
      background-color: #f1f1f1;
  }
  
  .design-one .dropdown {
      position: relative;
      display: inline-block;
  }
  
  .design-one .hamburger {
      font-size: 24px;
      cursor: pointer;
      margin-left: 15px;
  }
  
  .design-one .dropdown-content {
      display: none;
      position: absolute;
      background-color: #f1f1f1;
      min-width: 160px;
      box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
      z-index: 1;
  }
  
  .design-one .dropdown-content a {
      color: black;
      padding: 12px 16px;
      text-decoration: none;
      display: block;
  }
  
  .design-one .dropdown-content a:hover {
      background-color: #ddd;
  }
  
  .design-onen .dropdown:hover .dropdown-content {
      display: block;
  }
  
  .design-one .logo {
      flex-grow: 1;
      display: flex;
      justify-content: center;
  }
  
  .design-one .logo img {
      max-height: 80px;
  }
  
  .design-one .icons i {
      margin-left: 40px;
      margin-right: 20px;
      font-size: 24px;
      cursor: pointer;
  }

  .design-two {
    width: 100%;
    background-color: #f1f1f1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
  }
  
  .design-two .left-section {
    display: flex;
  }
  
  .design-two .logo img {
    max-height: 80px;
    margin-right: 20px;
  }
  
  .design-two .hamburger {
    font-size: 24px;
    cursor: pointer;
  }
  
  .design-two .search-bar {
    flex-grow: 0.5;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .design-two .search-bar input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .design-two .search-bar button {
    padding: 10px;
    border: 1px solid #ccc;
    border-left: none;
    background-color: #000000;
    color: white;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
  }
  
  .design-two .icons {
    display: flex;
  }
  
  .design-two .icons i {
    margin-left: 20px;
    font-size: 24px;
    cursor: pointer;
  }

  .design-three {
    width: 100%;
    background-color: #f1f1f1;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Poppins', sans-serif;
}

.design-three .left-section {
    display: flex;
    align-items: center;
}

.design-three .logo img {
    max-height: 80px;
}

.design-three .middle-section nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
}

.design-three .middle-section nav ul li {
    margin: 20px;
}

.design-three .middle-section nav ul li:last-child {
    margin-right: 0;
}

.design-three .middle-section nav ul li a {
    text-decoration: none;
    color: #000;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
}

.design-three .right-section .icons {
    display: flex;
}

.design-three .right-section .icons i {
    margin-left: 30px;
    margin-right: 20px;
    font-size: 24px;
    cursor: pointer;
}

      .design-four {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0.7rem 1rem;
        border-radius: 5px;
        background-color: #f0f0f0;
        width: calc(100% - 1rem);
    }
    
    .design-four .logo img {
        height: 80px;
    }
    
    .design-four .navigation {
        display: flex;
        gap: 5rem;
        align-items: center;
        justify-content: center;
    }
    
    .design-four .navigation .nav-button {
        font-family: 'Poppins', sans-serif;
        color: black;
        font-weight: 800;
        font-size: 1rem;
        text-decoration: none;
    }
    
    .design-four .navigation .bi {
        font-size: 2.5rem;
    }
    
    .design-four .navigation .nav {
        text-align: center;
    }
    
    .design-four .search-bar {
        display: flex;
        align-items: center;
        margin-right: 3%;
    }
    
    .design-four .search-bar input {
        padding: 0.6rem;
        font-size: 1rem;
        border: 1px solid #ccc;
        border-radius: 5px;
    }
    

    .design-five {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0.7rem 1rem;
      border-radius: 5px;
      background-color: #f0f0f0;
      width: calc(100% - 1rem);
  }
  
  .design-five .logo img {
      height: 80px;
  }
  
  .design-five .navigation {
      display: flex;
      gap: 5rem;
      align-items: center;
      justify-content: center;
  }
  
  .design-five .navigation .nav-button {
    font-family: 'Poppins', sans-serif;
      color: black;
      font-weight: 800;
      font-size: 1rem;
      text-decoration: none;
  }
  
  .design-five .navigation .bi {
      font-size: 2.5rem;
  }
  
  .design-five .navigation .nav {
      text-align: center;
  }
  
  .design-five .search-bar {
      position: relative; 
      display: flex;
      align-items: center;
      margin-right: 3%;
  }
  
  .design-five .search-bar input {
      padding: 0.6rem 2rem 0.6rem 0.6rem;
      font-size: 1rem;
      border: 1px solid #ccc;
      border-radius: 5px;
      width: 300px; 
  }
  
  .design-five .search-icon {
      position: absolute;
      right: 10px; 
      color: #888;
  }
  
      .logo {
        height: 80px;
      }

.animated {

        width: 100vw;
        display: flex;
        justify-content: space-between;
        padding: 2rem 2vw;
      }

      header.design-six {
        width: 100vw;
        display: flex;
        justify-content: space-between;
        padding: 0.0rem 5vw;
        background: rgb(255, 255, 255);
    
        & > nav.navigation {
            display: flex;
            align-items: center;
            gap: 1rem;
    
            & > a.navigation-content{
              font-weight: 600;
              font-size: 1.1rem;
              color: rgb(0, 0, 0);
              font-family: 'Poppins', sans-serif;
              transition: color 0.3s;
            }
              & > a.different-font{
              font-size: 0.9rem;
              color: aliceblue;
              border: 1px white solid;
              padding: 0.4rem 1.5rem;
              border-radius: 7px;
              background-color: rgb(0, 0, 0);
              transition: background-color 0.3s;
            }
            & > a.navigation-content:hover {
              color: rgb(123, 118, 114);
            }

            & > a.different-font:hover {
            color: #000000;
            background-color: #959090; 
            }
          }
        }

        .design-seven {
          display: flex;
              align-items: center;
              box-shadow: 4px 4px rgb(140, 144, 145);
              border-radius: 5px;
              background-color: #f0f0f0;
              width: calc(100% - 1rem);
          }
  
  
          .design-seven .navigation {
              display: flex;
              align-items: center;
              justify-content: center;
              flex: 5;
          }
  
          .design-seven .nav-button {
            font-family: 'Poppins', sans-serif;
            color: black;
            font-weight: 800;
            font-size: 1.1rem;
            text-decoration: none; 
            padding: 1.7rem 2.5rem; 
            transition: background-color 0.3s; 
        }
        
        .design-seven .nav-button:hover {
            color: white;
            background-color: rgb(140, 144, 145);
        }

        .design-eight {
          display: flex;
          width: 100vw;
          justify-content: space-between;
          padding: 0.5rem 9vw;
          align-items: center;
          background: rgb(207, 156, 118);
        }
        
        .design-eight .navigation {
          display: flex;
          align-items: center;
          gap: 2rem;
        }
        
        .design-eight .navigation-content {
          color: rgb(0, 0, 0);
          font-weight: 800;
          font-size: 1.2rem;
          font-family: 'Poppins', sans-serif;
        }
        
        .design-eight .button {
          border: 1px rgb(0, 0, 0) solid;
          font-size: 0.9rem;
          color: rgb(255, 255, 255);
          background-color: rgb(45, 44, 44);
          padding: 0.5rem 1rem;
          border-radius: 5px;
        }
        
        .design-eight .navigation-content:hover {
          color: rgb(255, 255, 255);
        }
        
        .design-eight .button:hover {
          color: #000000;
          background-color: #ffffff;
          border: none;
        }
        
        .design-eight .logo {
          display: flex;
          align-items: center;
        }
        
        .design-eight .logo-img {
          width: 150px;
          height: auto;
        }
        
        .design-eight .logo-img.new {
          opacity: 0;
          transition: opacity 0.3s ease;
        }
        
        .design-eight .logo:hover .new {
          opacity: 1;
        }
        
        .design-nine {
          display: flex;
          align-items: center;
          justify-content: space-between;
          padding: 0.7rem 1rem;
          border-radius: 5px;
          background-color: #f0f0f0;
          width: calc(100% - 1rem);
        }
        
        .design-nine .logo img {
          height: 80px;
        }
        
        .design-nine .navigation {
          display: flex;
          gap: 5rem;
          align-items: center;
          justify-content: center;
        }
        
        .design-nine .navigation .nav-button {
          font-family: 'Poppins', sans-serif;
          color: black;
          font-weight: 800;
          font-size: 1rem;
          text-decoration: none;
          position: relative; 
        }
        
        .design-nine .navigation .bi {
          font-size: 2.5rem;
        }
        
        .design-nine .navigation .nav {
          text-align: center;
        }
        
        .design-nine .nav-button:hover {
          border: 1px rgb(0, 0, 0) solid;
          font-size: 0.9rem;
          color: rgb(255, 255, 255);
          background-color: rgb(45, 44, 44);
          padding: 0.5rem 1rem;
          border-radius: 5px;
        }
        
        .design-nine .search-bar {
          display: flex;
          align-items: center;
          margin-right: 3%;
        }
        
        .design-nine .search-bar input {
          padding: 0.6rem;
          font-size: 1rem;
          border: 1px solid #ccc;
          border-radius: 5px;
        }
        
        .design-nine .dropdown-menu {
          position: absolute;
          top: 100%; 
          left: 0;
          display: none;
          min-width: 10rem;
          background-color: #fff;
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
          z-index: 1;
        }
        
        .design-nine .dropdown:hover .dropdown-menu {
          display: block;
        }
        
        
        .design-nine .dropdown-menu li {
          list-style: none;
          padding: 0;
          margin: 0;
        }
        
        .design-nine .dropdown-menu li a {
          display: block;
          padding: 0.5rem 1rem;
          text-decoration: none;
          color: #333;
        }
        
        .design-nine .dropdown-menu li a:hover {
          background-color: #f0f0f0;
        }
        
        .design-ten {
          display: flex;
          align-items: center;
          justify-content: space-between;
          padding: 0.7rem 1rem;
          border-radius: 5px;
          background-color: #f0f0f0;
          width: calc(100% - 1rem);
        }
        
        .design-ten .search-bar {
          position: relative; 
          display: flex;
          align-items: center;
          margin-right: 3%;
        }
        
        .design-ten .search-bar input {
          padding: 0.6rem 2rem 0.6rem 0.6rem;
          font-size: 1rem;
          border: 1px solid #ccc;
          border-radius: 5px;
          width: 300px; 
        }
        
        .design-ten .search-icon {
          position: absolute;
          right: 50px;
          color: #888;
        }
        
        .design-ten .logo {
          display: flex;
          align-items: center;
        }
        
        .design-ten .logo-img {
          width: 150px;
          height: auto;
        }
        
        .design-ten .logo-img.new {
          opacity: 0;
          transition: opacity 0.3s ease;
        }
        
        .design-ten .logo:hover .new {
          opacity: 1;
        }
        
        .design-ten .hamburger {
          position: relative;
        }
        
        .design-ten .hamburger-toggle {
          background: none;
          border: none;
          cursor: pointer;
        }
        
        .design-ten .hamburger-toggle i {
          margin-left: 30px;
        }
        
        .design-ten .hamburger-menu {
          position: absolute;
          top: calc(100% + 5px);
          right: -20px; 
          background-color: #fff;
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
          list-style: none;
          padding: 0;
          margin: 0;
          display: none;
        }
        
        .design-ten .hamburger:hover .hamburger-menu {
          display: block;
        }
        
        .design-ten .hamburger-menu li {
          padding: 15px;
        }
        
        .design-ten .hamburger-menu li:hover {
          background-color: #f0f0f0;
        }
        
          .logo {
            height: 80px;
          }